---
layout: archive
title: "Talks and presentations"
permalink: /talks/
author_profile: true
---
Warning: Talks associated with research projects may or may not be listed below. Go to the 'Publications' tab to see talks corresponding to particular research papers.

In addition to the talks mentioned below, I am also the presenter for the LLM Logic Reading Group at the AIEA Lab, UC Santa Cruz.

{% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %}

{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}
