This page was created to include coding projects not associated with my research (either personal or job-related). For code I wrote as part of larger research projects go to the 'Publications' tab. Then, for each listing, you will be able to download the project code.

For a personal project, you can download the code and see the skills I learned. For projects associated with a job, you will also see a list of skills, along with the name of the position and company, if applicable.






<div class="legacy-panel">
<details>
<summary><b>Other Projects</b></summary>
For convenience, projects associated with research papers or otherwise not listed here, are put together below:
<br>
<br>
<ul>
<li><a href="https://github.com/shreyanmitra/XAIPipe">XAIPipe</a> (formerly <a href="https://github.com/11301858/XAISuite">XAISuite</a>)</li>
<li><a href="https://github.com/shreyanmitra/CandyLLM">CandyLLM</a></li>
<li><a href="https://github.com/shreyanmitra/Hallucina">Hallucina</a></li>
</ul>
</details>
</div>

